<!DOCTYPE html>
<html>

<head>
  <title>
    <%= fileName %>
  </title>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/files/selected/edit-top-data?path=<%= filePath %>">Edit Top Data</a></li>
      <li><a href="/files/selected/edit-nav-data?path=<%= filePath %>">Edit Nav Data</a></li>
      <li><a href="/files/selected/edit-source-data?path=<%= filePath %>">Edit Source Data</a></li>
      <li><a href="/files/selected/edit-description-data?path=<%= filePath %>">Edit Description Data</a></li>
    </ul>
  </nav>
  <h1>
    <%= fileName %>
  </h1>
  <p>Edit <%= fileName %>.</p>
</body>

</html>